@charset "UTF-8";

/*全体*/

:root{
    --main-color: #00FFF5;
}

body{
    font-family: 'Exo', sans-serif, 'Noto Sans JP', Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo;
    background-color: #000000;
    font-size: 16px;
    color: #FFFFFF;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/*レイアウト*/
.container{
    max-width: 1160px;
    padding: 0px 30px;
    margin: 0 auto;
}

/*見出し*/
.primary-heading{
    position: relative;
    font-size: 80px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.05em;
    color: var(--main-color);
    margin-bottom: 70px;
}

.primary-heading::before{
    display: inline-block;
    position:absolute;
    content:'';
    bottom: -30px;
    width: 80px;
    height: 8px;
    background-color: var(--main-color);
}

.primary-heading--color-revrese{
    color: #000000;
}

.primary-heading--color-revrese::before{
    background-color:#000000;
}

/*ボタン*/
.btn{
    display: inline-block;
    position: relative;
    width: 230px;
    font-size: 18px;
    font-weight: bold;
    line-height:1;
    letter-spacing: 0.05em;
    color: #000000;
    background-color: var(--main-color);
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    transition: box-shadow 0.3s;
}

.btn:hover{
    box-shadow: 0 0 18px 5px rgba(0, 255, 174, 0.6);
}

.btn--sm{
    width: 164px;
    font-size: 15px;
    padding: 15px 0;
}

/*ローディング*/
.loading{
  position: fixed;
  top:0;
  left:0;
  z-index:9000;
  width: 100vw;
  height: 100%;
  background-color: #000000;
}

.loading.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms;
}

.loading-animation{
  position: absolute;
  top:50%;
  left:50%;
  z-index:9999;
  margin: 0 auto;
  transform: translate(-50%, -50%);
}

.loading-text{
  color:var(--main-color);
  margin-top: 10px;
}

.atom-spinner, .atom-spinner * {
    box-sizing: border-box;
  }

  .atom-spinner {
    height: 60px;
    width: 60px;
    overflow: hidden;
  }

  .atom-spinner .spinner-inner {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
  }

  .atom-spinner .spinner-circle {
    display: block;
    position: absolute;
    color: var(--main-color);
    font-size: calc(60px * 0.24);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .atom-spinner .spinner-line {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation-duration: 1s;
    border-left-width: calc(60px / 25);
    border-top-width: calc(60px / 25);
    border-left-color: var(--main-color);
    border-left-style: solid;
    border-top-style: solid;
    border-top-color: transparent;
  }

  .atom-spinner .spinner-line:nth-child(1) {
    animation: atom-spinner-animation-1 1s linear infinite;
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
  }

  .atom-spinner .spinner-line:nth-child(2) {
    animation: atom-spinner-animation-2 1s linear infinite;
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
  }

  .atom-spinner .spinner-line:nth-child(3) {
    animation: atom-spinner-animation-3 1s linear infinite;
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
  }

  @keyframes atom-spinner-animation-1 {
    100% {
      transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
    }
  }

  @keyframes atom-spinner-animation-2 {
    100% {
      transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
    }
  }

  @keyframes atom-spinner-animation-3 {
    100% {
      transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
    }
  }

/*背景画像*/
.bgParallax{
    position: fixed;
    top: 0;
    left: 0;
    z-index:-1;
    width: 100%;
}

.bgParallax::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( 45deg, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 50% );
    background-size: 4px 4px;
  }

  .bgParallax-video{
    width: 100%;
    height: 100vh;
    vertical-align: bottom;
    object-fit: cover;
  }

  /*ヘッダー*/
  .header{
    position: fixed;
    width: 100%;
    z-index: 10;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  }

.header-inner{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 30px;;
}

.header-logo{
  line-height: 1;
}

/*グローバルナビゲーション*/
.gnav__list{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}

.gnav__item{
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.1em;
  color: var(--main-color);
}

.gnav__audio{
  position: absolute;
  right: 30px;
  bottom: -10px;
}

.audioSwitch{
  font-size: 13px;
  line-height: 1;
  color:#BFBFBF;
  cursor: pointer;
}

.audioSwitch.on{
  color:#FFFFFF;
}

.audioSwitch-icon{
  font-size: 18px;
  vertical-align: text-bottom;
}

/*メインビジュアル*/
.mv{
  position:relative;
  height: 100%;
}

.mv::after{
  display: block;
  position:absolute;
  content:"";
  right:0;
  bottom:0;
  width: 430px;
  height: 40px;
  background-image: url(assets/img/bg-line-bottom-black.svg); 
}

.mv__titleArea{
  position: absolute;
  top: 50%;
  left: 10%;
  color: #FFFFFF;
  transform: translateY(-50%);
}

.mv__label{
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.2em;
  margin-bottom: 30px;
}

.mv__title{
  font-size: 140px;
  font-weight: 600;
  line-height: 0.9;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
}

.mv__subtitle{
  font-size: 34px;
  line-height: 1;
  letter-spacing: 1em;
  margin-bottom: 50px;
}

/*スクロールダウンの描写*/
.scrolldown2{
/*描画位置※位置は適宜調整してください*/
position:absolute;
bottom: 10px;
left:10px;
}

/*Scrollテキストの描写*/
.scrolldown2 span{
  /*描画位置*/
  position: absolute;
  left:10px;
  bottom:10px;
  /*テキストの形状*/
  color: var(--main-color);
  font-size: 0.7rem;
  letter-spacing: 0.05em;
/*縦書き設定*/
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 丸の描写 */
.scrolldown2:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom:0;
  left:-4px;
  /*丸の形状*/
  width:10px;
  height:10px;
  border-radius: 50%;
  background:var(--main-color);
  /*丸の動き1.6秒かけて透過し、永遠にループ*/
animation:
  circlemove 1.6s ease-in-out infinite,
  cirlemovehide 1.6s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove{
    0%{bottom:45px;}
   100%{bottom:-5px;}
}

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide{
    0%{opacity:0}
    50%{opacity:1;}
    80%{opacity:0.9;}
    100%{opacity:0;}
}

/* 線の描写 */
.scrolldown2:after{
content:"";
/*描画位置*/
position: absolute;
bottom:0;
left:0;
  /*線の形状*/
width:2px;
height: 50px;
background:var(--main-color);
}


/*ニュースボックスの描写*/
.newsBox{
  display: flex;
  position: absolute;
  right:30px;
  bottom: 50px;
  overflow: hidden;
  align-items: center;
  width: 360px;
  line-height: 1;
  border: solid 1px #00FFF5;
  background-color: #000000;
  padding: 0.5em 0;
}

.newsBox p{
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  white-space: nowrap;
  animation-name: newsBox-animation;
  margin: 0;
  animation: newsBox-animation 10s linear infinite;
}

@keyframes newsBox-animation{
  from {
      transform: translateX(100%);
  }
  to  {
      transform: translateX(-100%)
  }
}

.newsBox__date{
  margin-right: 1em;
}

.newsBox__body{
  color: var(--main-color);
}

/*STORY*/
.story{
  color: #FFFFFF;
  padding: 140px 0;
  background-color: #000000;
  background-image: url(assets/img/bg_story.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-position: cover;
}

.story__columnwrap{
  display: grid;
  row-gap: 80px;
}

.story__column{
  display: flex;
  column-gap: 80px;
  align-items: center;
}

.story__desc{
  flex: 0 1 50%;
}

.story__title{
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}

.story__text{
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.05em;
}

.story__img{
  flex: 1;
  transform: skew(-5deg, 0deg);
  box-shadow: 7px 7px var(--main-color);
}

.story__column:nth-child(2n){
  flex-direction: row-reverse;
}

.story__column:nth-child(2n) .story__img{
  transform: skew(5deg, 0deg);
  box-shadow: -7px 7px var(--main-color);
}

/*cta*/
.cta{
  position: relative;
  padding: 100px 0;
}

.cta--1::before{
  display: block;
  position:absolute;
  content:"";
  top: 0;
  left:0;
  width: 430px;
  height: 40px;
  background-image: url(assets/img/bg-line-top-black.svg);
}

.cta__body{
  text-align: center;
}

.cta__title{
  font-size: 64px;
  font-weight:bold;
  line-height: 1;
  letter-spacing: 0.05em;
  margin-bottom: 25px;
}

.cta__btn{
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.05em;
}

/*TRAILER*/

.trailer{
  position: relative;
  padding: 110px 0;
  background-color:var(--main-color);
}

.trailer::after{
  display: block;
  content: "";
  position: absolute;
  top: -40px;;
  right:0;
  width:430px;
  height: 40px;
  background-image: url(assets/img/bg-line-bottom-color.svg);
}

.trailer__video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.trailer__video iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/*cta2*/

.cta{
  position: relative;
  padding: 100px 0;
}

.cta--2::before{
  display:block;
  position: absolute;
  content: "";
  top:0;
  left:0;
  width:430px;
  height: 40px;
  background-image: url(assets/img/bg-line-top-color.svg);
}

/*footer*/
.footer{
  position: relative;
  background-color:#000000;
  padding: 40px 30px;
}

.footer::before{
  position: absolute;
  content:"";
  right: 0;
  top: -40px;
  width: 430px;
  height: 40px;
  background-image: url(assets/img/bg-line-bottom-black.svg);
}

.footer__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.snsShare__list{
  display:flex;
  column-gap: 10px;
}

.footer__copyright{
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}


/*レスポンシブデザイン*/
@media screen and (max-width: 768px) {
  body {
    font-size: 15px;
    line-height: 1;
  }
  
  /*レイアウト*/
  .container{
    padding: 0px 20px;
}

/*見出し*/
.primary-heading{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 45px;
}

.primary-heading::before{
    bottom: -15px;
    width: 60px;
    height: 6px;
}

/*ボタン*/
.btn{
  width: 170px;
  font-size: 16px;
}

.btn:hover{
  box-shadow: none;
}

/*ヘッダー*/
.header-inner{
  height: 60px;
  padding: 0 20px;;
}

.header-logo{
  width: 120px;
}

/*グローバルナビゲーション*/
.gnav__list{
  column-gap: 20px;
}

.gnav__item{
  font-size: 13px;
}

.gnav__audio{
  right: 20px;
  bottom: -20px;
}

.gnav__cta{
  display: none;
}

/*メインビジュアル*/
.mv::after{
  width: 200px;
  height: 30px;
}


.mv__label{
  font-size: 22px;
  margin-bottom: 20px;
}

.mv__title{
  font-size: 76px;
  margin-bottom: 10px;
}

.mv__subtitle{
  font-size: 22px;
  margin-bottom: 30px;
}


/*ニュースボックスの描写*/
.newsBox{
  right: 20px;
  bottom: 50px;
  width: 200px;
}

.newsBox p{
  font-size: 12px;
  padding-left: 200px;
}

/*STORY*/
.story{
  padding: 50px 0;
}

.story__columnwrap{
  row-gap: 50px;
}

.story__column{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.story__title{
  font-size: 24px;
  margin-bottom: 20px;
}

.story__text{
  font-size: 15px;
  margin-bottom: 30px;
}

.story__column:nth-child(2n){
  display:flex;
  flex-direction: column;
}

.story__img{
  width: 85%;
  margin: 0 auto;
}

/*cta*/
.cta{
  padding: 70px 0;
}

.cta--1::before{
  width: 200px;
  height: 30px;
  background-position: 100% 0;
}


.cta__title{
  font-size: 32px;
  margin-bottom: 20px;
}

.cta__btn{
  font-size: 16px;
}

/*TRAILER*/

.trailer{
  padding: 50px 0;
}

.trailer::after{
  top: -30px;
  right:0;
  width:200px;
  height: 30px;
}


/*cta2*/

.cta{
  padding: 70px 0;
}

.cta--2::before{
  width:200px;
  height: 30px;
  background-position: 100% 0;
}

/*footer*/
.footer{
  padding: 40px 20px 120px;
}

.footer::before{
  top: -30px;
  width: 200px;
  height: 30px;
}

.footer__inner{
  display: flex;
  flex-direction: column;
}

.snsShare__list{
  column-gap: 5px;
  margin-bottom: 30px;
}

.footer__copyright{
  font-size: 11px;
}
}