@charset "UTF-8";

/*全体*/

:root{
    --main-color: #00FFF5;
}

body{
    font-family: 'Exo', sans-serif, 'Noto Sans JP', Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo;
    background-color: #000000;
    font-size: 16px;
    color: #FFFFFF;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/*レイアウト*/
.container{
    max-width: 1160px;
    padding: 0px 30px;
    margin: 0 auto;
}

/*見出し*/
.primary-heading{
    position: relative;
    font-size: 80px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.05em;
    color: var(--main-color);
    margin-bottom: 70px;
}

.primary-heading::before{
    display: inline-block;
    position:absolute;
    content:'';
    bottom: -30px;
    width: 80px;
    height: 8px;
    background-color: var(--main-color);
}

.primary-heading--color-revrese{
    color: #000000;
}

.primary-heading--color-revrese::before{
    color:#000000;
}

/*ボタン*/
.btn{
    display: inline-block;
    position: relative;
    width: 230px;
    font-size: 18px;
    font-weight: bold;
    line-height:1;
    letter-spacing: 0.05em;
    color: #000000;
    background-color: var(--main-color);
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    transition: box-shadow 0.3s;
}

.btn:hover{
    box-shadow: 0 0 18px 5px rgba(0, 255, 174, 0.6);
}

.btn--sm{
    width: 164px;
    font-size: 15px;
    padding: 15px 0;
}

/*ローディング*/
.loading{
  position: fixed;
  top:0;
  left:0;
  z-index:9000;
  width: 100vw;
  height: 100%;
  background-color: #000000;
}

.loading-animation{
  position: absolute;
  top:50%;
  left:50%;
  z-index:9999;
  margin: 0 auto;
  transform: translate(-50%, -50%);
}

.loading-text{
  color:var(--main-color);
  margin-top: 10px;
}

.atom-spinner, .atom-spinner * {
    box-sizing: border-box;
  }

  .atom-spinner {
    height: 60px;
    width: 60px;
    overflow: hidden;
  }

  .atom-spinner .spinner-inner {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
  }

  .atom-spinner .spinner-circle {
    display: block;
    position: absolute;
    color: var(--main-color);
    font-size: calc(60px * 0.24);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .atom-spinner .spinner-line {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation-duration: 1s;
    border-left-width: calc(60px / 25);
    border-top-width: calc(60px / 25);
    border-left-color: var(--main-color);
    border-left-style: solid;
    border-top-style: solid;
    border-top-color: transparent;
  }

  .atom-spinner .spinner-line:nth-child(1) {
    animation: atom-spinner-animation-1 1s linear infinite;
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
  }

  .atom-spinner .spinner-line:nth-child(2) {
    animation: atom-spinner-animation-2 1s linear infinite;
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
  }

  .atom-spinner .spinner-line:nth-child(3) {
    animation: atom-spinner-animation-3 1s linear infinite;
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
  }

  @keyframes atom-spinner-animation-1 {
    100% {
      transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
    }
  }

  @keyframes atom-spinner-animation-2 {
    100% {
      transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
    }
  }

  @keyframes atom-spinner-animation-3 {
    100% {
      transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
    }
  }

/*背景画像*/
.bgParallax{
    position: fixed;
    top: 0;
    left: 0;
    z-index:-1;
    width: 100%;
}

.bgParallax::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( 45deg, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 50% );
    background-size: 4px 4px;
  }

  .bgParallax-video{
    width: 100%;
    height: 100vh;
    vertical-align: bottom;
    object-fit: cover;
  }

  /*ヘッダー*/
  .header{
    position: fixed;
    width: 100%;
    z-index: 10;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  }

.header-inner{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 30px;;
}

.header-logo{
  line-height: 1;
}

/*グローバルナビゲーション*/
.gnav__list{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}

.gnav__item{
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.1em;
  color: var(--main-color);
}

.gnav__audio{
  position: absolute;
  right: 30px;
  bottom: -10px;
}

.audioSwitch{
  font-size: 13px;
  line-height: 1;
  color:#BFBFBF;
  cursor: pointer;
}

.audioSwitch.on{
  color:#FFFFFF;
}

.audioSwitch-icon{
  font-size: 18px;
  vertical-align: text-bottom;
}

/*メインビジュアル*/
mv{
  position:relative;
  height: 100%;
}

.mv::after{
  display: block;
  position:absolute;
  content:"";
  right:0;
  bottom:0;
  width: 430px;
  height: 40px;
  background-image: url(assets/img/bg-line-bottom-black.svg); 
}

.mv__titleArea{
  position: absolute;
  top: 50%;
  left: 10%;
  color: #FFFFFF;
  transform: translateY(-50%);
}

.mv__label{
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.2em;
  margin-bottom: 30px;
}

.mv__title{
  font-size: 140px;
  font-weight: 600;
  line-height: 0.9;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
}

.mv__subtitle{
  font-size: 34px;
  line-height: 1;
  letter-spacing: 1em;
  margin-bottom: 50px;
}

